@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #00C2DE;
}
body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}
/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
}
header::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    height: 5px;
    width: 40%;
    background: linear-gradient(90deg, var(--primary), transparent);

}
.logo {
    font-size: 30px;
    color: #FFFFFF;
}
.logo img {
    max-width: 200px;
    filter: invert(1);
}
header .year {
    font-family: 'Racing Sans One', cursive;
    font-size: 1em;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 40px;
}
header .menu {
    position: relative;
    height: 30px;
    width: 30px;
    background: url(assets/images/menu-3-fill.png) no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}

header .menu.active {
    position: relative;
    height: 35px;
    width: 35px;
    background: url(assets/images/close-line.png) no-repeat;
    background-size: 35px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}